* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #f0e9e0;
  overflow-x: hidden;
}
.css-5vf13z-MuiInputBase-root-MuiInput-root:after {
  border-bottom: 2px solid #0e4749 !important;
}
//TABS
.css-8atqhb {
  padding-bottom: 3rem !important;
}
.Mui-selected {
  color: #0e4749 !important;
}
.css-heg063-MuiTabs-flexContainer {
  justify-content: space-around;
}
.MuiTabs-flexContainer {
  justify-content: space-around;
}
.MuiTab-textColorPrimary @media (max-width: 767px) {
  .css-heg063-MuiTabs-flexContainer {
    display: flex;
    flex-direction: column;
  }
}
.MuiTab-textColorPrimary @media (max-width: 767px) {
  .MuiTabs-flexContainer {
    display: flex;
    flex-direction: column;
  }
}
